<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Miller Ladino - {% block title %}{% endblock %}</title>

    {% load static %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={% static 'core/css/styles.css' %} />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

</head>
<body class="dark">
    <header class="header">
        <div class="switches">
          <div id="toggle-theme" class="toggle-theme">
            <img id="toggle-icon" src={% static 'core/img/icons/moon.svg' %} alt="icon for dark mode" class="toggle-theme__icon" />
            <p id="toggle-text" class="toggle-theme__text">Dark Mode</p>
          </div>
        </div>
        <!-- 
            --------------------------
            links para redes sociales 
          ------------------------------->
    
        <div id="social" class="social">
          <div class="social-links">
            <a href="https://www.linkedin.com/in/miller-systemsengineer/" target="_blank"><img
                src={% static 'core/img/linkedin.png' %} alt="logo Linkedin enlace" /></a>
          </div>
          <div class="social-links">
            <a href="https://github.com/millertsu1" target="_blank"><img src={% static 'core/img/github.png' %}
                alt="logo GitHub enlace" /></a>
          </div>
        </div>
    
        <div id="toggle-colors" class="colors">
          <div data-color="hsl(214, 84%, 56%)" class="colors__item colors__item--blue"></div>
    
          <div data-color="hsl(150, 84%, 56%)" class="colors__item colors__item--green"></div>
    
          <div data-color="hsl(276, 84%, 56%)" class="colors__item colors__item--purple"></div>
    
          <div data-color="hsl(46, 84%, 56%)" class="colors__item colors__item--orange"></div>
        </div>
      </header>

    {% block content %} {% endblock %}

    <footer class="header">
      <div class="switches">
        <div class="toggle-theme">
          <p class="toggle-theme__text">Miller Ladino - Portfolio</p>
        </div>
      </div>
      <!-- 
          --------------------------
          links para redes sociales 
        ------------------------------->
  
      <div id="social" class="social">
        <div class="social-links">
          <a href="https://www.linkedin.com/in/miller-systemsengineer/" target="_blank"><img
              src={% static 'core/img/linkedin.png' %} alt="logo Linkedin enlace" /></a>
        </div>
        <div class="social-links">
          <a href="https://github.com/millertsu1" target="_blank"><img src={% static 'core/img/github.png' %}
              alt="logo GitHub enlace" /></a>
        </div>
      </div>
  
    </footer>

    <script src={% static 'core/js/scripts.js' %}></script>

</body>
</html>